body {
    font-family: sans-serif;
    color: #444;
}
h1{color:rgb(209, 28, 200);border-radius:0.5em;font-size:1em;padding:0.2em 0.2em;background:#c9e7d362;}
a:link{font-size:125%;}a{color:rgba(55, 167, 11, 0.623);text-decoration:none}a:hover{color:green;text-decoration:dashed}a:visited{color:rgb(245, 88, 211)}a:active{color:black;text-decoration:dotted}
button{border-radius:0.5em;background:#558ED5;padding:0.3em 0.3em;width:20%;color:rgb(7, 245, 134);font-size:130%;}
p{font-size:125%;}
p { color:rgb(148, 19, 235); }